html,body,#root {
  width: 100%;
  height: 100%;
  font-family: "Garute";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Garute";
  src: url("../public/fonts/Garute-Regular.ttf");
  font-display: block;
}

a {
  color: inherit;
  text-decoration: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;