.text-bold{
    font-family: "ExtraBold";
}
@font-face {
    font-family: "ExtraBold";
    src: url("../public/fonts/Garute-ExtraBold.ttf");
    font-display: block;
}
.animation-h1{
    animation: bigtext 0.5s both;
}
@keyframes bigtext {
    0%{
        margin-left: 0;
        opacity: 0;
        transition: all 0.5;
    }
    25%{
        margin-left: 25px;
        opacity: 20%;
        transition: all 0.5;
    }
    50%{
        margin-left: 50px;
        opacity: 30%;
        transition: all 0.5;
    }
    75%{
        margin-left: 90px;
        opacity: 50%;
        transition: all 0.5;
    }
    100%{
        margin-left: 150px;
        opacity: 100%;
        transition: all 0.5;
    }
}

.image-anim{
    animation: image 1s 1;
}
@keyframes image {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.opacity-anim{
    animation: input 4s 1;
}
@keyframes input {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}
.logo-anim{
    animation: logo 4s infinite;
}
@keyframes logo {
    0%{
        opacity: 40%;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 40%;
    }
}